*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: rgba(243, 215, 183, 1);
    padding: 10px 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    gap: 50px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}

.header_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.img2 img{
    width: 600px;
    height: 600px;
    position: relative;
    top: 40px;
    left: 50px;
}

.img1 img{
    width: 180px;
    position: relative;
    animation: mars 5s infinite;
    top: -250px;
    left: 150px;
    z-index: 1;
}
@keyframes mars{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

main{
    margin-top: 100px;
}

h2{
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 900;
}

.img img{
    width: 450px;
     
    animation: mars 7s 3;
}


.main_block{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.main-text{
    width: 700px;
    text-align: center;
}

.main-text p{
    width: 300px;
    margin: 20px auto;
}
